/* External CSS */


body{
    background-color: hotpink;
}

/* 
p{
    font-size: 32px;
    font-weight: bold; 
} */

p{
    text-align: center;

    /* text-decoration-line:line-through;
    text-decoration-line:overline;
    */
    text-decoration-line: underline; 

    text-decoration-color: rgb(24, 12, 193);


    text-decoration-style: dashed;
}